img{
height:160px; 
width:150px;    
}
.about {
  padding: 20px;
  background-color: burlywood;
  font-family: 'Times New Roman', Times, serif;
  height: 100px; 
  width: auto;
  border: 15px solid rgb(218, 115, 20); 
  display: flex;
  flex-shrink:10; 
}

body {
  background-color: bisque;
}
